extends layout

block content
    .mdc-layout-grid
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
                h3 #{title}
                .category__delete-btn
                    form(method="post" action=category.url+'/delete')
                        button.mdc-button.mdc-button--raised.mdc-theme--secondary-bg(type="submit")
                            div.mdc-button__ripple
                            i.material-icons.mdc-button__icon(aria-hidden="true") delete_forever
                            div.mdc-button__label DELETE
                .category__update-btn
                    a.mdc-button.mdc-button--raised(href=category.url+'/update')
                        div.mdc-button__ripple
                        i.material-icons.mdc-button__icon(aria-hidden="true") update
                        div.mdc-button__label UPDATE

                div.mdc-list
                    for categoryVehicle in categoryVehicles
                        a(href=categoryVehicle.url).mdc-list-item
                            span.mdc-list-item-text #[strong !{categoryVehicle.brand} !{categoryVehicle.model}]
