extends layout

block content
    .mdc-layout-grid
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
                h2=title
                // Errors view
                if errors
                    ul.mdc-list
                        for error in errors
                            li.mdc-list-item
                                h3.mdc-list-item__text(style="color: salmon")=`⚠️ ${error.msg}`
                form(action="" method="post" enctype="multipart/form-data")
                    // vehicle photo
                    .vehicle-photo
                        label(for="vehicle_photo") Choose a vehicle photo: 
                        if vehicleInstance
                            input#vehicle_photo(type="file" name="vehicle_photo" accept="image/png image/jpeg")
                        else
                            input#vehicle_photo(type="file" name="vehicle_photo" accept="image/png image/jpeg" required)
                        input(type="hidden" name="photo", value=vehicleInstance && vehicleInstance.photo)
                    // select vehicle
                    input#vehicle(type="hidden" name="vehicle" value=vehicleInstance && vehicleInstance.vehicle._id)
                    .mdc-select.vehicle-select#select_vehicle
                        .mdc-select__anchor.select-width
                            i.mdc-select__dropdown-icon
                            .mdc-select__selected-text Select Vehicle
                            .mdc-line-ripple
                        .mdc-select__menu.mdc-menu.mdc-menu-surface.select-width
                            ul.mdc-list
                                for vehicle in vehicles
                                    if (vehicleInstance && vehicleInstance.vehicle._id.toString() === vehicle._id.toString())
                                        li.mdc-list-item.mdc-list-item--selected(data-value=vehicle._id)=`${vehicle.brand} ${vehicle.model}`
                                    else
                                        li.mdc-list-item(data-value=vehicle._id)=`${vehicle.brand} ${vehicle.model}`
                    // select year
                    input#year_num(type="hidden" name="year_num", value=vehicleInstance && new Date(vehicleInstance.year).getFullYear())
                    .mdc-select#select_year
                        .mdc-select__anchor.select-width
                            i.mdc-select__dropdown-icon
                            .mdc-select__selected-text Select Year
                            .mdc-line-ripple
                        .mdc-select__menu.mdc-menu.mdc-menu-surface.select-width
                            ul.mdc-list
                                for year in years
                                    if (vehicleInstance && new Date(vehicleInstance.year).getFullYear() === year)
                                        li.mdc-list-item.mdc-list-item--selected(data-value=year)=year
                                    else
                                        li.mdc-list-item(data-value=year)=year
                    // select condition
                    input#condition(type="hidden" name="condition", value=vehicleInstance && vehicleInstance.condition)
                    .mdc-select#select_condition
                        .mdc-select__anchor.select-width
                            i.mdc-select__dropdown-icon
                            .mdc-select__selected-text Select Condition 
                            .mdc-line-ripple
                        .mdc-select__menu.mdc-menu.mdc-menu-surface.select-width
                            ul.mdc-list
                                for conditionType in conditionTypes
                                    if (vehicleInstance && vehicleInstance.condition.toString() === conditionType.toString())
                                        li.mdc-list-item.mdc-list-item--selected(data-value=conditionType)=conditionType
                                    else
                                        li.mdc-list-item(data-value=conditionType)=conditionType
                    // input price
                    .mdc-text-field#price.input-width-full
                        input#price_usd.mdc-text-field__input(type="number" name="priceUSD" value=vehicleInstance && vehicleInstance.priceUSD)
                        label.mdc-floating-label(for="price_usd") Price USD 
                        .mdc-line-ripple
                    // input max speed
                    .mdc-text-field#max_speed.input-width-full
                        input#max_speed_kmh.mdc-text-field__input(type="number" name="max_speed_kmh" value=vehicleInstance && vehicleInstance.max_speed_kmh)
                        label.mdc-floating-label(for="max_speed_kmh") Max speed km/h 
                        .mdc-line-ripple
                    // input max range
                    .mdc-text-field#max_range.input-width-full
                        input#max_range_km.mdc-text-field__input(type="number" name="max_range_km" value=vehicleInstance && vehicleInstance.max_range_km)
                        label.mdc-floating-label(for="max_range_km") Max range km 
                        .mdc-line-ripple
                    // input battery_kwh
                    .mdc-text-field#battery.input-width-full
                        input#battery_kwh.mdc-text-field__input(type="number" name="battery_kwh" value=vehicleInstance && vehicleInstance.battery_kwh)
                        label.mdc-floating-label(for="battery_kwh") Battery capacity kw/h 
                        .mdc-line-ripple
                    if vehicleInstance
                        // input admin pass
                        .mdc-text-field.input-width-full.admin-pass-text-field
                            input#admin_pass.mdc-text-field__input(type="password" name="admin_pass" required)
                            label.mdc-floating-label(for="admin_pass") Enter Admin Pass
                            .mdc-line-ripple
                    .submit-btn
                        button.mdc-button.mdc-button--raised(type="submit") Submit

block scripts
    script(src="/javascripts/vehicleInstanceForm.js")

