extends layout

block content
    .mdc-layout-grid
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell
                h1 #{title} #{new Date(vehicleInstance.year).getFullYear()}
                .vehicle-instance-controls
                    .vehicle-instance-controls__btn
                        form(action=`${vehicleInstance.url}/delete` method="post")
                            div.admin-pass
                                label(for="amdin_pass") Enter admin password 
                                input#admin_pass(type="password", name="admin_pass" required)
                            div
                                button.mdc-button.mdc-button--outlined(type="submit") Delete
                                    span.mdc-button__ripple
                    .vehicle-instance-controls__btn
                        form(action=`${vehicleInstance.url}/update` method="get")
                            button.mdc-button.mdc-button--raised(type="submit") Update
                                span.mdc-button__ripple

                ul.mdc-list
                    li.mdc-list-item
                        span.mdc-list-item-text #[strong Price: ] !{vehicleInstance.priceUSD} $ &nbsp
                    li.mdc-list-item
                        span.mdc-list-item-text #[strong Max speed: ] !{vehicleInstance.max_speed_kmh} km/h &nbsp
                    li.mdc-list-item
                        span.mdc-list-item-text #[strong Max range: ] !{vehicleInstance.max_range_km} km &nbsp
                    li.mdc-list-item
                        span.mdc-list-item-text #[strong Battery power: ] !{vehicleInstance.battery_kwh} kwh/h &nbsp
                if errors && errors.length > 0
                    h3 !Error
                    ul.mdc-list
                        for error in errors
                            li.mdc-list-item
                                span.mdc-list-item-text=error.msg
                        
