extends layout

block content
    .mdc-layout-grid
        if errors && errors.length > 0
            .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
                h3 !Error
                ul.mdc-list
                    for error in errors
                        li.mdc-list-item
                            span.mdc-list-item-text=error.msg
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
                .mdc-card.vehicle-instance-card
                    .vehicle-instance-card__primary
                        h2.mdc-typography.mdc-typography--headline6 #{title} #{new Date(vehicleInstance.year).getFullYear()}
                        h3.mdc-typography.mdc-typography--subtitle2 
                    .mdc-card__primary-action
                        if vehicleInstance.photo_url
                            .mdc-card__media.mdc-card__media--16-9(style=`background-image: url("${vehicleInstance.photo_url}");`)
                    .vehicle-instance-card__info
                        ul.mdc-list
                            li.mdc-list-item
                                span.mdc-list-item-text #[strong Price: ] !{vehicleInstance.priceUSD} $ &nbsp
                            li.mdc-list-item
                                span.mdc-list-item-text #[strong Max speed: ] !{vehicleInstance.max_speed_kmh} km/h &nbsp
                            li.mdc-list-item
                                span.mdc-list-item-text #[strong Max range: ] !{vehicleInstance.max_range_km} km &nbsp
                            li.mdc-list-item
                                span.mdc-list-item-text #[strong Battery power: ] !{vehicleInstance.battery_kwh} kwh/h &nbsp
                    .mdc-card__actions
                        .mdc-card__action-buttons
                            a.mdc-button.mdc-card-action.mdc-card-action--button(href=`${vehicleInstance.url}/update`) Update
                                span.mdc-button__ripple
                        .mdc-card__action-icons
                            button#delete_vehicle_instance.material-icons.mdc-icon-button.mdc-card__action.mdc-card__action--icon--unbounded(aria-pressed="false" aria-label="Delete" title="Delete") delete
                //- confirm dialog
                form(action=vehicleInstance._id +'/delete' method="post")
                    .mdc-dialog.delete-confirm-dialog(role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content")
                        .mdc-dialog__container
                            .mdc-dialog__surface
                                h2#delete-dialog-title.mdc-dialog__title Delete !{vehicleInstance.vehicle.brand}
                                .mdc-dialog__content
                                    p Are you sure you want to delete #[strong #{vehicleInstance.vehicle.brand} #{vehicleInstance.vehicle.model} #{new Date(vehicleInstance.year).getFullYear()}]?
                                    .mdc-text-field.mdc-text-field--outlined.admin-pass
                                        input.mdc-text-field__input#admin_pass(type="password" name="admin_pass")
                                        .mdc-notched-outline
                                            .mdc-notched-outline__leading
                                            .mdc-notched-outline__notch
                                                label.mdc-floating-label Enter Admin Password
                                            .mdc-notched-outline__trailing

                                footer.mdc-dialog__actions
                                    button.mdc-button.mdc-dialog__button(type="button" data-mdc-dialog-action="close")
                                        span.mdc-button__label Cancel
                                    button.mdc-button.mdc-button--raised.mdc-dialog__button(type="submit" data-mdc-dialog-action="delete")
                                        span.mdc-button__label Delete
                        .mdc-dialog__scrim

block scripts
    script(src="/javascripts/vehicleInstance.js")
